:root {
  box-sizing: border-box;
}

body {
  padding: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-bar {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.task-form {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.task-form > input {
  border: 1px solid #aaa;
  margin-right: 16px;
}

.task-form > input:focus {
  outline: 0;
}

.task-form > button {
  min-width: 100px;
  height: 95%;
  margin-top: 0;
}

.tasks {
  list-style-type: none;
  padding-inline-start: 0;
  padding-left: 16px;
  padding-right: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.tasks > li {
  display: flex;
  padding: 16px;
  border-bottom: #eee solid 1px;
}

.tasks > li > input[type='checkbox'] {
  margin: 0;
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.tasks > li > input[type='checkbox']::after {
  top: 0.25em;
  left: 0.35em
}

.tasks > li > span {
  flex-grow: 1;
}

.tasks > li > button {
  justify-self: flex-end;
  background-color: #ff3046;
  margin: 0;
}
